.account-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.account-settings {
  width: 400px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-container img {
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-top: 100px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.save-btn {
  padding: 10px 20px;
  background-color: #dc0909;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.save-btn:hover {
  background-color: #b00606;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #dc0909;
  color: white;
  padding: 30px 40px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 400px;
  width: auto;
}
