.goals {
  padding: 20px;
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.chart-container {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.chart {
  width: 100%;
  height: 300px;
}

.toggle-goals-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.toggle-goals-btn:hover {
  background-color: white;
  color: #ff0000;
  border: 2px solid #ff0000;
}

.goals-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.goal-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  display: none;
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #ff0000;
}

.goal-item:hover .delete-btn {
  display: inline-block;
}

.goal-item:hover {
  background-color: #f2f2f2;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #dc0909;
  color: white;
  padding: 30px 40px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 400px;
  width: auto;
}
