body {
  margin: 30;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.login-form-wrapper {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  z-index: 1;
}

h2 {
  text-align: center;
  color: #ff3333;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff3333;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.login-btn:hover {
  background-color: #c82333;
}

p {
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.image-wrapper {
  margin-left: 80px;
  flex: 100;
}

.login-image {
  width: 800%;
  height: 600px;
  max-width: 800px;
  object-fit: cover;
}
