.metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
}

.metrics h2 {
  margin-bottom: 80px;
}

.chart-container {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container > h3 {
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.chart-container > canvas {
  max-height: 300px;
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 90%;
  }
}
