.register-container {
  display: flex;
  height: 100vh;
}

.register-wrapper {
  display: flex;
  flex: 1;
}

.register-form-wrapper {
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.register-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f4;
}

.register-image {
  max-width: none;
  height: 500px;
  width: 600px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff3333;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.register-btn:hover {
  background-color: #b00606;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff3333;
  font-family: 'Courier New', Courier, monospace;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
