.workout-list {
  max-width: 1500px;
  margin: 1px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(247, 3, 3, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

.workout-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.workout-details {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.weight-chart {
  flex: 0.5;
  height: 400px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  box-sizing: border-box;
}

.weight-chart h3 {
  margin: 0 0 5px;
  color: #000000;
}

.weight-chart canvas {
  height: 100% !important;
  width: 100% !important;
}

.workout-list > h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  color: #ff3333 !important;
  font-family: 'Courier New', Courier, monospace;
}

.workout-list .workout-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 10px solid #f2d0ce;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: transform 0.4s;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.workout-list .workout-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.workout-list .morning-run,
.workout-list .weight-lifting,
.workout-list .yoga-session {
  background-color: #f2d0ce;
  text-align: left;
}

.workout-list .workout-item > h3 {
  font-size: 20px;
  color: black;
  margin: 0;
}

.workout-list .workout-item .workout-details-left {
  text-align: left;
  margin-top: 5px;
}

.workout-list .workout-item p {
  margin: 1px 0;
  color: #000000;
  font-size: 14px;
}

.add-workout-toggle {
  margin: 20px 0;
}

.toggle-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 120px;
  font-size: 14px;
  background-color: #ff3333;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
  background-color: white;
  color: #ff3333;
}

.delete-button {
  background-color: white;
  color: #ff3333;
  border: 2px solid #ff3333;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #ff3333;
  color: white;
}
